<!DOCTYPE html>
<html>
<head>
    <title>User Input Example</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <h1>Enter Some Text</h1>
    <form method="POST">
        <input type="text" name="user_input" placeholder="Type something...">
        <button type="submit" class="button">Submit</button>
    </form>
    {% if user_text != None %}
        {%for f in ai_response %}
        <p>{{f}}</p>
        {%endfor%}
    {% endif %}
</body>
</html>
